/*#region common*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1900px;
    min-width: 320px;
    min-height: 320px;
}
html, body {
    overflow: hidden; /*blocca lo scroll dell'intera pagina*/
}

a,li {
    text-decoration: none;
    list-style-type: none;
}

#wrapper {
    display: flex;
    height: calc(100vh - 100px);/*viewport - footer*/
    margin: auto;
    overflow-y:scroll;
}

:root{
    --spoty-side:#000000;
    --spoty-upgrade:#070B13;
    --spoty-white:#FFFFFF;
    --spoty-text:#6F6F6F;/*grigi in pagina da rivedere dopo*/
    --spoty-accent:#99EE00;
}

/*#endregion common*/
/*************************************************************/

/*#region utilities*/

.clearfix {
    overflow: auto;
  }
.uppercase{
    text-transform: uppercase;
}

                                   /*flex*/
.d-flex{                          
    display: flex;
}
.d-flex-inline{
    display: inline-flex;
}
.direction-column{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.d-wrap{
    flex-wrap: wrap ;
}
.no-wrap{
    flex-wrap: nowrap ;
}
                                   /*fine flex*/

                                   /*spacing*/

/*fine spacing*/

                                    /*containers*/

/*fine containers*/

                                     /*bottoni*/
                                   
/*fine bottoni*/

/*#endregion utilities*/
/*************************************************************/


/*#region sidebar*/
/*top*/
aside.sidebar.d-flex.direction-column {
    position: relative;
}
.logo-hidden{
    height: 30px;
    margin: 5px 0.5rem ;
    position: absolute; 
    top: 0;
    left: 0;
    display: none;
}
.logo-main {
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    position: absolute; 
    top: 0;
    left: 0;
}
/*center*/

 aside.sidebar {
    height: calc(100vh + 100px);/*viewport - footer*/
    width: 190px;/* modificato nel breakpoint xs*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right:  20px;
}
.aside-nav>ul {
    padding-top: 70px;
    padding-left: 0.75rem;  /*allineamento con il logo sopra*/
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}  
li{
    padding-bottom: 10px;
}

.aside-nav span:only-of-type{
    color:var(--spoty-text);
    font-weight: 900;
}
::before {
    color: var(--spoty-text);
}

/*center*/

.playlist-nav>ul {
    padding-top: 20px;
    padding-left: 0.75rem;  /*allineamento con il logo sopra*/
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}  
.aside-nav.d-flex li{
    padding-bottom: 10px;
    line-height: 10px;
}
ul.side li{
    padding-bottom: 20px;
    line-height: 15px;
}


.playlist-nav span:only-of-type{
    color:var(--spoty-text);
    font-weight: 900;
}
strong {
    color: var(--spoty-white);
}

/*bottom*/
.bottom-nav>div {
    padding-top:calc(10vh - 20px);
    padding-left: 0.75rem;  /*allineamento con il logo sopra*/
    display: flex;
    flex-direction: column;
}  

.bottom-nav span:only-of-type{
    color:var(--spoty-text);
    font-weight: 900;
}
::before {
    color: var(--spoty-text);
}

hr:only-of-type{
    margin-top: 15px;
    width: 150px;
    height: 1px;
    border: none;
    background-color: var(--spoty-text);
}
.user{
    padding-top: 10px;
}
/*#endregion sidebar*/
/*************************************************************/

/*#region main*/

/*#region upgrade*/

#site_main{
    width: 1900px;
}

.container-top{
    height: 55px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    
}
.btn-large{
    font-weight: 900;
    color: var(--spoty-white);
    display: flex;
    flex-direction: row;
    border: 2px solid var(--spoty-white);
    border-radius: 30px;
    padding: 8px 28px;
    margin-right: 0.5rem;
}
/*#endregion upgrade*/
/*************************************************************/

/*#endregion main*/
/*************************************************************/

/*#region bottom player*/

#player{
    height: 100px;
    width: 100%;
    max-width: 1900px;
    margin: auto;   
    /*  tolto: "position: fixed; bottom: 0;" ===>vedo come si comporta nella media query*/
}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -1rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;
   
}
[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}
.col-2{
    width: calc((100% /12)* 2.75rem);
    height: 100%;
    align-items: center;
}
.col-3{
    width: calc((100% /12)* 5);
    height: 100%;
}

.col-4{
    width: calc(100% / 12 * 2.75);
    height: 100%;
    border:2px dashed blue;
}
.col-3.d-flex {
    justify-content:center ;

}

.col-4.tools.d-flex{
     align-items: center;
    }

.name>.song-name,.artist{
    font-size: 12px;

    &.song-name{
        color: var(--spoty-white);
        font-weight: 900;
    }
    &.artist{
        color: var(--spoty-text);
        font-weight: 900;
    }
}

.img-container{
    max-width: 35px ;
    max-height: 35px;
}
.img-container img{
    width: 100%;
    
}
.col-2.d-flex {
    justify-content: space-between;
}

.row>div:nth-child(2){
    flex-direction: column;

}  /*selezione per gestire le direzioni di flex in un flex container principale*/

 .col-3.d-flex>div:not(.name,.icons,.img-container){
    width: 100%;
    justify-content: center;
}

.top-control.d-flex span>i:before{
    color:var(--spoty-white);
    padding:15px;
}
.col-3.d-flex>div:not(.name,.icons,.img-container){
    color: var(--spoty-white); 
}

.col-3.d-flex>.barra.d-flex{
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.song{
    width: 85%;
    height: 6px;
    border: 1px solid var(--spoty-text);
    background:var(--spoty-text);
    border-radius: 3px;
}
.square{
    width: 45%;
    height:100%;
    background-color: var(--spoty-white);
    border-radius: 6px;
}
.duration{
    line-height: 15px;
    font-size: 10px;
}

.song-sm{
    width: 30%;
    height: 6px;
    border: 1px solid var(--spoty-text);
    background:var(--spoty-text);
    border-radius: 3px;
}
.square-sm{
    width: 25%;
    height:100%;
    background-color: var(--spoty-white);
    border-radius: 6px;
}
.col-4.tools.d-flex span>i:before{
    color:var(--spoty-white);
}
.col-4.tools.d-flex>span,i{
    padding: 5px;
}

/*#endregion bottom player*/
/*************************************************************/

/*#region debug*/

.debug {
    background-color: red;
}
.debug #player{
    background-color: yellowgreen;
}
.debug .container-top{
    background-color: aqua;
}

.debug aside.sidebar {
    background: black;
    height: calc(100vh + 100px);
}
.debug .img-container{
    border: 3px dashed red;
}
.debug .row,.col-3,.col-2{
    border: 3px dashed black;
}


.debug .col-3.d-flex>div:not(.name,.icons,.img-container){
    border: 2px solid red; /*soluzione per vbisualizzare divisone flex items*/   
    color: var(--spoty-white); 
}

.debug .section-titles {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    line-height: 25px;
    font-weight: 900;
}
.section-titles>a{
    padding-left: 10px;
    font-weight: 900;
    color: var(--spoty-text);
}

#site_main>h2{
    color: var(--spoty-white);
    padding-top: 10px;
    padding-left: 10px;
}

.container-lg{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.album-container{
    background-image: url(./img/metal_lifting.jpg);
    background-size: cover;

}
.img-overlay{
    background-color: #e6e6e675;;
    height: 200px;
    aspect-ratio: 1/1;
}
.img-overlay:only-child{
    align-items: center;
    justify-content: center;
}

/*#endregion debug*/
/*************************************************************/

/*#region mediaquery*/

@media screen and (max-width:552px){
    
.row>div:nth-child(3) {
   flex-direction: column;
   justify-content: flex-end;
}
.song-sm{
    display: none;
}
.col-4.tools.d-flex>span,i{
    padding: 3px 0;
}
.col-4.tools.d-flex {
    align-items: center;
    padding-left: 50px;
}

} 

 /*N.B. NON RICHIESTO NELLA CONSEGNA- scatto + piccolo dove faccio incolonnare icone ad angolo dx, per una lettura al minimo di 375 px */









@media screen and (max-width:596px){
    aside.sidebar.d-flex.direction-column {
        width: 0;
        width: 50px;
    }
    .logo-main{
        display: none;
    }
    .logo-hidden{
        display: flex;
    }
    a>span{
        display: none;
    }
    .aside-nav>ul {
        padding-top: 45px;
        padding-left: 0.75rem;  /*allineamento con il logo sopra*/
        align-items: flex-start; 
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }  
    .playlist-nav.d-flex {
        display: none;
    }
    
    .user>span , div>hr{
        display:none;
    }

    .bottom-nav>div {
        padding-top: calc(100vh - 330px);
    }

    .col-2.d-flex{
        justify-content: space-between;
        min-width: calc(100% / 3);
        min-height: calc(100% / 2);
    }
    .img-container {
        min-width: 50px;
        min-height: 50px;
    }
    .top-control.d-flex span>i:before {
        padding: 5px;
    }

    [class^="col-"] {
        padding-left: 0rem; 
        padding-right: 0rem; 
    }
    
    .row>div:nth-child(3){
        min-width: calc(100% / 3);
    }
    


} 
/*end of sm breakpoint*/


@media screen and (max-width:768px){
    
    .logo-main{
        padding-bottom: 5px;
        
    }
   
    .aside-nav>ul {
        padding-top: 60px;
        padding-left: 0.75rem;  /*allineamento con il logo sopra*/
        align-items: flex-start; 
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }  
    
    
    .bottom-nav>div {
        padding-top: calc(100vh - 710px);
    }

    .col-2.d-flex{
        min-width: calc(100% / 3);
        min-height: calc(100% / 2);
    }
    .img-container {
        min-width: 50px;
        min-height: 50px;
    }
    .top-control.d-flex span>i:before {
        padding: 5px;
    }
    
    .row>div:nth-child(3){
        min-width: calc(100% / 3);
    }
    
} 
/*end of md breakpoint*/










@media screen and (max-width:992px){
    
} 
/*end of lg breakpoint*/

@media screen and (max-width:1200px){
    
} 
@media screen and (max-width:1440px){
    
} 
/*end of breakpoint*/

/*#endregion mediaquery*/
/*************************************************************/