/*#region common*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1900px;
    min-width: 320px;
    min-height: 320px;
}
html, body {
    overflow: hidden; /*blocca lo scroll dell'intera pagina*/
}

a,li {
    text-decoration: none;
    list-style-type: none;
}

#wrapper {
    display: flex;
    height: calc(100vh - 100px);/*viewport - footer*/
    margin: auto;
    overflow-y:scroll;
}

:root{
    --spoty-side:#000000;
    --spoty-upgrade:#070B13;
    --spoty-white:#FFFFFF;
    --spoty-text:#6F6F6F;/*grigi in pagina da rivedere dopo*/
    --spoty-accent:#99EE00;
}

/*#endregion common*/
/*************************************************************/

/*#region utilities*/

.clearfix {
    overflow: auto;
  }

                                   /*flex*/
.d-flex{                          
    display: flex;
}
.d-flex-inline{
    display: inline-flex;
}
.direction-column{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.d-wrap{
    flex-wrap: wrap ;
}
.no-wrap{
    flex-wrap: nowrap ;
}
                                   /*fine flex*/

                                   /*spacing*/

/*fine spacing*/

                                    /*containers*/

/*fine containers*/

                                     /*bottoni*/
                                   
/*fine bottoni*/

/*#endregion utilities*/
/*************************************************************/

/*#region sidebar*/
/*top*/
.logo-hidden{
    content-visibility: hidden ;
}
.logo-main {
    height: 55px;
    padding: 0.75rem;
    position: fixed; 
    top: 0;
    left: 0;
}
/*center*/

 aside.sidebar {
    height: calc(100vh - 100px);/*viewport - footer*/
    min-width: 190px;/* da modificare nel breakpoint xs*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right:  20px;
}
.aside-nav>ul {
    padding-top: 50px;
    padding-left: 0.75rem;  /*allineamento con il logo sopra*/
    align-items: flex-start; 
}  
li{
    padding-bottom: 10px;
}
.aside-nav span:only-of-type{
    color:var(--spoty-white);
}
::before {
    color: var(--spoty-white);
}
i.fa-solid.fa-grip-lines-vertical {
    color:var(--spoty-white) ;
    
}

/*bottom- inserire qui paylist*/

/*#endregion sidebar*/
/*************************************************************/

/*#region upgrade*/
.container-top{
    height: 55px;
    width: 100%;
}

/*#endregion upgrade*/
/*************************************************************/

/*#region main*/
/*#endregion main*/
/*************************************************************/

/*#region bottom player*/

#player{
    height: 100px;
    width: 100%;
    text-align: center;
}
/*  tolto: "position: fixed; bottom: 0;" ===>vedo come si comporta nella media query*/

/*#endregion bottom player*/
/*************************************************************/

/*#region debug*/

.debug {
    background-color: red;
}
.debug #player{
    background-color: #99EE00;
}
.debug .container-top{
    background-color: aqua;
}

.debug aside.sidebar {
    background: aquamarine;
}

/*#endregion debug*/